<input type='button' ng-click="openAddUserModal()" class='addUser btn btn-success btn-sm' value='Добавить пользователя' /> 
<span>Всего: <num>{{usersList.length}}</num></span>
<span>Активных: <num>{{usersList | countActive}}</num></span>
<table class="usersList">
	<thead>
		<tr>
			<td>Логин</td>
			<td>ФИО</td>
			<td>ip</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in usersList | orderBy:'login'" ng-class="{blocked:user.isBlocked}">
			<td>{{user.login}}</td>
			<td>{{user.fio}}</td>
			<td>{{user.ip}}</td>
			<td>				
				<button class='del btn btn-danger btn-xs' ng-click="delUser(user.login)">del</button>
				<button class='edit btn btn-info btn-xs' ng-click="openEditUserModal(user)">edit</button>
				<button class='block btn btn-warning btn-xs' ng-show="!user.isBlocked" ng-click="switchUser(user)">block</button>
				<button class='unblock btn btn-success btn-xs' ng-show="user.isBlocked" ng-click="switchUser(user)">unblock</button>
			</td>
		</tr>
	</tbody>
</table>	
