html
	head
		meta(charset='utf8')
		title Spareparts admin
		link(rel='stylesheet', href='../css/app.css')
		link(rel='stylesheet', href='../css/bootstrap.min.css')
		base(href='/admin/')
body(ng-app="adminApp")
	loader
		img(src="../images/loader.png")
	header
		div
			a(href='/admin/' class='logo') Spareparts admin panel
		logInfo
			a(href="/logout") Выход

	content(ng-controller='AdminCtrl').
		
		<ul class="adminMenu btn-group">
			<li class="btn btn-primary" ng-model="$parent.path" ng-repeat='menuItem in mainMenu' btn-radio="'{{menuItem[0]}}'">{{menuItem[1]}}</li>
		</ul>		
		<div ng-view></div>
	footer
	
	<script src='../js/jquery-2.1.4.min.js'></script>
	<script src='../js/lib/angular/angular.js'></script>

	<script src='../js/admin.js'></script>
	<script src='../js/services.js'></script>
	<script src='../js/controllers.js'></script>
	<script src='../js/filters.js'></script>
	<script src='../js/directives.js'></script>
script(src='../js/angular-ui.js')
