.btn a{color:inherit;}
.btn a:hover{color:inherit;}
.btn{font-size: inherit !important}
p{margin:0px !important;padding:0px !important;}
h3{font-size:150% !important;margin:0px !important;font-weight: bold;}
html{height:100%;}
*{font-family: verdana;font-size:14px;}
body{padding:10px;height:100%;}
table.usersList{border:1px solid gray;border-collapse: collapse;border-radius: 10px;}
table.usersList td{border:1px solid gray;padding: 1px 3px}
table.usersList thead td{text-align: center;}

ul.adminMenu{padding:0px;margin:0px 0px 15px 0px;}

dl.summary {border:1px solid grey;border-radius: 10px;padding:10px;margin-top:15px;display:inline-block;}
dl.summary dd{margin-left:40px;}
dl.summary dd input{display:block;width:300px;}
dl.summary p{padding:0px;margin:0px;}
dl.summary p>b{font-weight: normal;font-style: italic;margin-right:3px;}
dl.summary p>b:after{content:":";}

login{display:block;text-align:center;height:100%;}
login form{margin: 0px auto;display:inline-block;border:1px solid gray;padding:10px;border-radius:10px;top:25%;position:relative; }
login form table td{padding:3px 0px}
login form table tr>td:nth-child(1){width:100px;}
login form table tr:nth-child(3)>td input{width:100%;margin-top:6px;}
login form table tr.error{display:none;color:red;}



header{display:block;border-bottom:1px solid black;margin-bottom:10px;}
header>logInfo,header>div{display:inline-block;width:50%;vertical-align: top}
header>div>a{font-size:120%;font-style:italic;color:black;}
header>div>a:hover{color:grey;}
header>logInfo{text-align: right;font-style:italic;}
header>logInfo>name{font-weight: bold}
header>logInfo>lastlogin{margin-right:30px;}


center{margin:80px auto 0px;display:block;}
center>p{margin-bottom:15px !important;font-weight: bold;font-size: 200%}
center>p>span{font-size: inherit}