.btn a{color:inherit;}
.btn a:hover{color:inherit;}
.btn{font-size: inherit !important}
p{margin:0px !important;padding:0px !important;}
h3{font-size:150% !important;margin:0px !important;font-weight: bold;}
html{height:100%;}
*{font-family: verdana;font-size:14px;}
body{padding:10px;height:100%;}
table.usersList{border:1px solid gray;border-collapse: collapse;border-radius: 10px;}
table.usersList td{border:1px solid gray;padding: 1px 3px}
table.usersList thead td{text-align: center;font-weight: bold;}
table.usersList button{padding-top:0px;padding-bottom: 0px;font-size:70%;}
table.usersList tr.blocked{background-color: rgba(255, 0, 0, .1)}

ul.adminMenu{padding:0px;margin:0px 0px 15px 0px;}

dl.summary {border:1px solid grey;border-radius: 10px;padding:10px;margin-top:15px;display:inline-block;}
dl.summary dd{margin-left:40px;}
dl.summary dd input{display:block;width:300px;}
dl.summary p{padding:0px;margin:0px;}
dl.summary p>b{font-weight: normal;font-style: italic;margin-right:3px;}
dl.summary p>b:after{content:":";}
dl.summary address{margin-right:4px;margin-bottom:0px;display:inline;}
dl.summary address:after{content: ","}
dl.summary address:last-of-type:after{content:"";margin-right:none;}

login{display:block;text-align:center;height:100%;}
login form{margin: 0px auto;display:inline-block;border:1px solid gray;padding:10px;border-radius:10px;top:25%;position:relative; }
login form table td{padding:3px 0px}
login form table tr>td:nth-child(1){width:100px;}
login form table tr:nth-child(3)>td input{width:100%;margin-top:6px;}
login form table tr.error{display:none;color:red;}



header{display:block;border-bottom:1px solid black;margin-bottom:10px;}
header>logInfo,header>div{display:inline-block;width:50%;vertical-align: top}
header>div>a{font-size:120%;font-style:italic;color:black;}
header>div>a:hover{color:grey;}
header>logInfo{text-align: right;font-style:italic;}
header>logInfo>name{font-weight: bold}
header>logInfo>lastlogin{margin-right:30px;}

input.addUser{margin-bottom:10px;}

table.userEdit{width:100%}
table.userEdit tr>td:nth-child(1){padding-right:15px;}
table.userEdit tr>td:nth-child(2){text-align:right;}
table.userEdit tr>td:nth-child(2) input{width:290px}
table.userEdit td>span{white-space:nowrap;color:grey;font-style: italic;font-size: 90%;margin-left:4px;}
table.userEdit td>span:before{content:"("}
table.userEdit td>span:after{content:")"}

center{margin:80px auto 0px;display:block;}
center>p{margin-bottom:15px !important;font-weight: bold;font-size: 200%}
center>p>span{font-size: inherit}

.modal-dialog {width: 700px !important;}
.modal-dialog p.error{color:red;}

p.lastXMLtry{margin-bottom:5px !important;}

span.tryfalse{color:red;}
span.trytrue{color:green;}

loader{height:100%;position:fixed;background:rgba(0,0,0,.6);display:none;width:100%;left:0px;top:0px;z-index: 1001;}
loader>img{display:block;top:45%;left:45%;position:absolute;z-index: 1002;}

.secure query{margin-bottom:20px;display: inline-block;vertical-align: top}
.secure query>*{vertical-align: top;display:inline-block;width:230px;vertical-align: top;border:1px solid gray;border-radius:10px;padding:10px;margin-right:20px;}
.secure result{display:inline-block;}
.secure plainArticuls{width:230px;height:365px;}
.secure plainArticuls textarea{width: 205px;height:280px}
.secure inputs>button, .secure plainArticuls>button{width:98%;margin-top:10px;}
.secure inputs>input{width:205px;height:26px;padding:1px;margin:1px 0px;}
.secure form.articulsLoad{display: none;}
.secure form.articulsLoad .btn{margin-top:10px; }
.secure table.result{border: 1px solid rgba(0,0,255,.7);border-collapse:collapse;}
.secure table.result td{border: 1px solid rgba(0,0,255,.7);padding:0px 4px;}
.secure table.result thead td{font-weight:bold;text-align:center;border-bottom:2px solid rgba(0,0,255,.7);;}
.secure table.result tbody tr:nth-child(odd){background-color: rgba(0,0,255,.1);}
.secure table.result tbody tr td{text-align:right;}
.secure table.result tbody tr td:nth-child(1){text-align:center;}
.secure table.result tbody tr td:nth-child(3){text-align:left;}
.secure table.result tbody tr td:nth-child(6){text-align:center;}
.secure table.result input{width:40px;text-align:right;}

.xmlLoad .btn{margin-top:5px !important;}

div.logs{display: inline-block;vertical-align: top}
div.logs table{border:1px solid gray;border-collapse: collapse;}
div.logs table td{border:1px solid gray;padding:0px 4px;}
div.logs table thead{font-weight:bold;text-align:center;}
div.logs table tbody{text-align: right}
div.logs table tbody tr.login{background-color: rgba(0,0,255,0.1)}
div.logs table tbody tr.search{background-color: rgba(0,255,0,0.1)}
div.logs table tbody tr.send{background-color: rgba(255,0,0,0.1)}
div.logs table td.overlimit a{font-weight:bold;color:red !important;}
div.common.logs{margin-right:20px;}
div.logs table tbody a{cursor:pointer;}
div.logs table tbody params{color:gray;font-size:80%;max-width:400px;display: block; word-wrap: break-word;border:1px solid gray;background-color: white;margin-bottom:10px;display: none;padding:0px 2px;}
table.individual.logs{}

.pagination.li{cursor:pointer;}