<query>
	<inputs>		
		<p>Артикулы</p>
		<!-- TODO: родить человеческий способ вывода этих ебучих инпутов-->
		<input ng-model="articulsArr[0]">
		<input ng-model="articulsArr[1]">
		<input ng-model="articulsArr[2]">
		<input ng-model="articulsArr[3]">
		<input ng-model="articulsArr[4]">
		<input ng-model="articulsArr[5]">
		<input ng-model="articulsArr[6]">
		<input ng-model="articulsArr[7]">
		<input ng-model="articulsArr[8]">
		<input ng-model="articulsArr[9]">	
		<button class='btn btn-default' ng-click='articulsSearch(articulsArr)'>Поиск</button>
	</inputs>
	<plainArticuls>
		<p>По одному в строке</p>
		<textarea ng-model="plainArticuls"></textarea>
		<button class='btn btn-default' ng-click='articulsSearch(plainArticuls)'>Поиск</button>
	</plainArticuls>
	<form class='articulsLoad'>
		Выберите файл для загрузки (в одному артикулу в строке фаила)
		<input type="file" name="articuls">
		<input type="submit" ng-click='articulsLoadStart()' class="btn btn-default" value="Загрузить">
	</form>

</query>
<result ng-show="result">
	<table class='result'>
		<thead>
			<tr>
				<td>№</td>
				<td>Артикул</td>
				<td>Наименование товара</td>
				<td>Цена розничная</td>
				<td>Свободный<br>остаток</td>
				<td>Кол-во З/Ч</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(n,elem) in result">
				<td>{{n}}</td>
				<td>{{elem.id_nom}}</td>
				<td>{{elem.name_nom}}</td>
				<td>{{elem.price}}</td>
				<td>{{elem.kol}}</td>
				<td><input  type='number' onchange="if(this.value < 0){this.value=0};" /></td>
			</tr>
		</tbody>
	</table>
	<maxLimit ng-show="result.length==100">Показано предельное количество строк</maxLimit>
	<input type='text' placeholder='Серийный номер ТС' ng-model='serial'>
	<button ng-disabled='!serial'  class='btn btn-default' ng-click='sendQuery()'>Отправить запрос</button>
</result>